<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%== attr(@locale_code) %>">
<head>
<title>Pinto</title>
</head>
<body>
<h1>Pinto</h1>
<ul>
<li><a href="<%== attr(uri('signup_openid', 'locale_code' => @locale_code)) %>"><%= _('Sign up') %></a></li>
<% @other_locales.each do |locale| %>
<li><a rel="alternate" hreflang="<%== attr(locale_code) %>" href="<%== attr(uri('index', 'locale_code' => locale.code)) %>"><%= _('%{locale_name} version of this page') % {:locale_name => _(locale.name)} %></a></li>
<% end %>
</ul>
</body>
</html>
