<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%== attr(@lang) %>">
<head>
<title>Pinto</title>
</head>
<body>
<h1>Pinto</h1>
<ul>
<li><a href="<%== attr(uri('signup_openid', 'lang' => @lang)) %>"><%= _('Sign up') %></a></li>
<% @other_langs.each do |lang| %>
<li><a rel="alternate" hreflang="<%== attr(lang.to_s) %>" href="<%== attr(uri('index', 'lang' => lang.to_s)) %>"><%= _('%{language} version of this page') % {:language => lang.name(self)} %></a></li>
<% end %>
</ul>
</body>
</html>
