<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%== attr(@locale_code) %>">
<head>
<title>Pinto</title>
</head>
<body>
<h1><a rel="start" href="<%== attr(uri('index', 'locale_code' => @locale_code)) %>">Pinto</a></h1>
<% unless @error_message.nil? %><p><%= @error_message %></p><% end %>
<form method="post" action="<%== attr(uri('users', 'locale_code' => @locale_code)) %>">
<p>
<%= _('User name') %>:
<input type="text" name="user_name" value="<%== attr(@user_name) %>" />
<input type="submit" value="<%== attr(_('OK')) %>" />
<input type="hidden" name="claimed_id" value="<%== attr(@claimed_id) %>" />
</p>
</form>
</body>
</html>
