<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%== attr(@lang) %>">
<head>
<title>Pinto</title>
</head>
<body>
<h1><a rel="start" href="<%== attr(uri('index', 'lang' => @lang)) %>">Pinto</a></h1>
<form method="get" action="<%== attr(uri('signup_auth', 'lang' => @lang)) %>">
<p>
<%= _('OpenID provider') %>:
<select name="openid">
<% @providers.each do |provider| %>
<option value="<%== attr(provider) %>"><%= provider %></option>
<% end %>
</select>
<input type="submit" value="<%== attr(_('OK')) %>" />
</p>
</form>
<ul>
<% @other_langs.each do |lang| %>
<li><a rel="alternate" hreflang="<%== attr(lang.to_s) %>" href="<%== attr(uri('signup_openid', 'lang' => lang.to_s)) %>"><%= _('%{language} version of this page') % {:language => lang.name(self)} %></a></li>
<% end %>
</ul>
</body>
</html>
