<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%== in_quote(@lang) %>">
<head>
<title>Pinto</title>
</head>
<body>
<h1><a rel="start" href="<%== in_quote(uri('index', 'lang' => @lang)) %>">Pinto</a></h1>
<form method="get" action="<%== in_quote(uri('signup_auth', 'lang' => @lang)) %>">
<p>
<%= _('OpenID Provider') %>:
<select name="openid">
<% @providers.each do |provider| %>
<option value="<%== in_quote(provider) %>"><%= provider %></option>
<% end %>
</select>
<input type="submit" value="<%== in_quote(_('OK')) %>" />
</p>
</form>
<ul>
<% @other_langs.each do |lang| %>
<li><a rel="alternate" hreflang="<%== in_quote(lang['code']) %>" href="<%== in_quote(uri('signup_openid', 'lang' => lang['code'])) %>"><%= _('%{language} version of this page') % {:language => _(lang['name'])} %></a></li>
<% end %>
</ul>
</body>
</html>
